body {
	background-color: #222;
	color: #ddd;
}

table {
	font-size: 24px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

input[type=color] {
	width: 60px;
	height: 40px;
}

textarea {
	font-size: 24px;
	width: 350px;
	height: 100px;
}

.示範 {
	word-break: break-all;
	width: 350px;
	height: 100px;
}